.container {
    width: 600px;
    height: 150px;
    opacity: 1.0;
    display: block;
    margin: 0 auto;
    padding: 40px 40px;
}
#logincont {
    width: 600px;
    height: 150px;
    background-color: #07867B;
    opacity: 1.0;
    display: block;
    margin: 0 auto;
    padding: 40px 40px;
}

h1#judul {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
    color: rgb(255, 255, 255);
    border: 1px;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#inputcont{
    width: 100%;
    text-align: left;
    position: relative;
}

#predicont{
    width: fit-content;
    text-align: left;
}

select{
    width: 100%;
}

button#submit{
    width: 100%;
    background-color:  rgba(100, 255, 200, 0.5);
    border: none;
    /* border-color: rgba(100, 255, 200, 0.5); */
    color: black;
    width: 100%;
    height: 30px;
    font-weight: bold;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
button#submit:hover{
    background-color:  black;
    color: rgba(100, 255, 200, 1);
    font-weight: bold;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

#datacontainer{
    width: 100%;
    text-align: center;
}
table#data{
    background-color: rgba(100, 255, 200, 0.5);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    table-layout : fixed;
}
table#inputdata{
    background-color: rgba(100, 255, 200, 0.5);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

table#prediksidata{
    background-color: rgba(100, 255, 200, 0.5);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

abc {
	font-size: 8pt;
}
aaa {
    color: black;
    opacity: 1;
}
aab {
    color: white;
    opacity: 1;
}
btn{
    background-color: rgba(100, 255, 200, 0.5);
    color: black;
    text-decoration: none;
    display: inline-block;
    column-width:50%;
}

th#judul{
    background-color: rgba(100, 255, 200, 0.5);
}

tr#center:hover{
    background-color: rgba(100, 255, 200, 0.5);
    color: white;
}
td#center {
    color: black;
	text-align: center;
}
tr#left:hover{
    background-color: rgba(100, 255, 200, 0.5);
    color: white;
}
td#left {
    color: black;
	text-align: left;
}
tr#ramalan:hover{
    background-color: rgba(100, 255, 200, 0.5);
    color: white;
    width: 100%;
}
td#ramalan {
    color: black;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
}

/* td#center_bt{
    color: white;
    padding: 10px 20px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 81.5%;
} */
/* td#center_bt#hover{
    background-color: rgba(100, 255, 200, 0.5);
    color: white;
    padding: 10px 20px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block; */
    /* width: 81.5%; */
/* } */

a#actK:link, a#act:visited {
    color: black;
    padding: 10px 10px; /* (tinggi) (lebar) */
    margin: 0px 0px;    /* (atasbawah) (kanankiri) */
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 92.5%;
    
}
/*
a#actK:hover, a#act:active {
    background-color: rgba(100, 255, 200, 0.5);
    border:1px;
    border-color: rgba(100, 255, 200, 0);
    color: white;
    padding: 10px 20px; 
    margin: 0px 0px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 92.5%;
}
*/
a#actK:hover, a#act:active {
    background-color:  black;
    color: rgba(100, 255, 200, 1);
    /* font-weight: bold; */
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: 92.5%;
}

#about{
    background-color: rgba(100, 255, 200, 0.5);
    width: auto;
    height: 20px;
    opacity: 1.0;
    display: block;
    margin: 0 auto;
    padding: 40px 40px;
    color: white;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0.5px 0.5px #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
    text-decoration: none;
}
a#repo:link, a#repo:active, a#repo:visited{
    text-decoration: none;
    color: white;
}